### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.launch
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

### Java ###
*.class

###JavaFX###
*.fxbuild
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
